 <div class="heading-container">
    <h3>Guitars near you</h3>
 </div>

<div class="main-wrapper"> <!-- contains both map and cards -->

  <div class="cards-container">
    <div class="row">
      <% @guitars.each do |guitar| %>
        <% unless current_user == guitar.user %>
        <%= link_to guitar_path(guitar.id) do %>
          <div class="col-xs-12 col-sm-4 no-padding">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url('<%= guitar.image %>');">
              <div class="card-description">
                <h4><%= guitar.brand[0..20] %></h4>
                <p><%= guitar.price_per_day %> EUR/day</p>
              </div>
              <img class="card-user" src= '<%= guitar.user.avatar %>'>
            </div>
          </div>
        <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="map" data-markers="<%= @markers.to_json %>">
</div>
</div>

<div class="search-again">
  <%= link_to "search again", root_path, class:"btn btn-primary" %>
</div>

