<div class="place-photo-wrapper" style= "background-image:linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path("guitar-hero1.jpg") %>')">
</div>

<div class="g-pic">
  <%= image_tag @guitar.image, alt: 'Guitar Picture'%>
</div>

  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h2><%= @guitar.user.email %>'s</h2>
        <p><%= @guitar.brand %></p>
        <p><%= @guitar.category %></p>
        <p><%= @guitar.description %></p>
      </div>
      <div class="col-xs-6" id="butt">

      
         
        <% #  link_to guitar_bookings_path(@guitar, method: :post) do %>
          <!-- <button class="btn btn-danger">Book!</button> -->
        <% #end %>

        <% if policy(@booking).create? %>       
         <%= form_for [@guitar, @booking] do |f| %>
             <%= f.submit %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
